// Import colors-ui
@import "colors";

// Declare new variables
$bg-btn-default-disabled: #f5f5f5;

.btn {
	font: {
		size: 13px;
	}
	min-width: 60px;
	padding: 10px 24px;
	&.active,
	&.focus,
	&:active,
	&:active:focus,
	&:focus,
	&:hover {
		outline: none;
	}
}

.btn-default {
	background-color: $bluishgrey;
	border: none;
	color: darken( $bluishgrey, 50%);
	&.active,
	&.focus,
	&:active,
	&:focus,
	&:hover {
		background-color: darken($bluishgrey, 10%);
		color: darken($bluishgrey, 60%);
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		background-color: $bg-btn-default-disabled;
		border-color: $lightgrey;
		color: #cbcbcb;
	}
}
.btn-primary {
	background-color: $basicblue;
	border: none;
	&.active,
	&.focus,
	&:active,
	&:focus,
	&:hover {
		background-color: darken($basicblue, 10%);
	}
}
.btn-info {
	background-color: $lightgrey;
	border-color: #ebebeb;
	color: #6a6a6a;
	&.active,
	&.focus,
	&:active,
	&:focus,
	&:hover {
		background-color: darken($lightgrey, 10%);
		border-color: #e0e0e1;
		color: #5d5d5d;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		background: lighten($lightgrey, 1%);
		border-color: #ebebeb;
		color: #ccc;
	}
}
.btn-danger {
	&.active,
	&.focus,
	&:active,
	&:focus,
	&:hover {
		background-color: darken($error, 20%);
		border-color: darken($error, 20%);
	}
}

a {
	&.btn-default {
		color: darken($bluishgrey, 40%);
	}
	&.btn-success,
	&.btn-danger {
		color: #fff;
	}
}

.open > .dropdown-toggle {
	&.btn-default {
		background-color: darken($bluishgrey, 10%);
		color: darken($bluishgrey, 60%);
	}
	&.btn-primary {
		background-color: darken($basicblue, 10%);
	}
	&.btn-info {
		background-color: darken($lightgrey, 10%);
		border-color: #e0e0e1;
		color: #5d5d5d;
	}
	&.btn-danger {
		background-color: darken($error, 20%);
	}
}

.btn-sm,
.btn-info {
	line-height: 1.4;
	padding: 8px 16px;
}

.btn-info .glyphicon {
	color: #6a6a6a;
}