// ** Variables - Colors ui
// -------------------------------------
$basicblue: #1f9dd9;
$basicgrey: #4d4d4d;
$lightgrey: #f2f2f2;
$linkcolor: #1f9dd9;
$bordergrey: #ebebeb;
$darkbgrey: #6f7b8a;
$error: #d9534f;
$warning: #e4d045;
$success: #5cb85c;
$lightblue: #1f9dd9;
$font-stack: Arial,sans-serif;