/* librería UI */
$basicblue: #0971b7; 
$basicgrey: #55606e; 
$lightgrey: #f2f2f2; 
$linkcolor: #1f9dd9;
$bluishgrey: #e5e9ec;
$darkbgrey: #6f7b8a;
$error: #d9534f;
$warning: #e4d045;
$success: #5cb85c;
$lightblue:#1f9dd9;
$font-stack: Arial,sans-serif;
/* FIN librería UI */

