// Import colors-ui
@import "colors";

.form-horizontal {
	.multiselect-container {
		.checkbox {
			min-height: inherit;
		}
	}
}

.form-label {
	margin-top: 2px;
}

// Icon validation
.form-control-feedback {
	top: 0;
	height: 32px;
	width: 32px;
}

.edit-form select {
	-moz-appearance: window;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
  	background-color: transparent;

}

// Select container
.select {
    background-color: #fff;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	&:after {
		color: $bluishgrey;
		content: '\e252';
		font: {
			family: 'Glyphicons Halflings';
			size: 10px;
		}
		height: 34px; /* height equal select */
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 32px;
		line-height: 36px; /* line height equal height select */
	  	z-index: 1;
	}
	> select {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		background-color: transparent;
		color: #6f7b8a;
	  	cursor: pointer;
		display: block;
		font: 13px $font-stack;
		height: 34px;
		line-height: 1.42857143;
		padding: 6px 30px 6px 12px;
		position: relative;
		-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		width: 100%;
		z-index: 2;
		&:focus {
			border-color: #66afe9;
			outline: 0;
		}
		&::-ms-expand {
			display: none;
		}
	}
}

.ie8,
.ie9 {
	.select {
		select {
			padding-right: 12px;
		}
	}
	&:after {
		display: none;
	}
}

// Improvement 0.0.1
.input-file {
	input[type='file'] {
		display: none;
		opacity: 0;
	}
	.file-name {
		display: inline-block;
		color: $darkbgrey;
		font: {
			size: 13px $font-stack;
		}
		margin-left: 10px;
		max-width: 400px;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
		white-space: nowrap;
	}

}