@import "colors";
.form-group {
	&:empty {
		margin-bottom: 0;
	}
}
.form-horizontal {
	.multiselect-container {
		.checkbox {
			min-height: inherit;
		}
	}
}

/* librería UI */


.form-control::-moz-placeholder, .form-control:-ms-input-placeholder, .form-control:-moz-placeholder, .form-control::-webkit-input-placeholder, :-ms-input-placeholder, ::-moz-placeholder, :-moz-placeholder, ::-webkit-input-placeholder{ color:#cccccc; font: 1em $font-stack; padding:10px 0 0 10px; font-weight:normal;}



.form-control input[type="text"] , input[type="text"],.uneditable-input, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .form-control { 
	height:32px; 
	line-height:32px; 
	border:2px solid $bluishgrey; 
	box-shadow:none; font-size:13px; 
	color:#282323;
	 -webkit-border-radius: 4px; 
	-moz-border-radius: 4px; border-radius: 4px; padding:0 0 0 10px;
		&:hover{-webkit-box-shadow: 0 0 0 3px #f5f5f5; -moz-box-shadow: 0 0 0 3px #f5f5f5; -o-box-shadow: 0 0 0 3px #f5f5f5; -khtml-box-shadow: 0 0 0 3px #f5f5f5; box-shadow: 0 0 0 3px #f5f5f5;}
}

textarea:hover{ -webkit-box-shadow: 0 0 0 3px #f5f5f5; -moz-box-shadow: 0 0 0 3px #f5f5f5; -o-box-shadow: 0 0 0 3px #f5f5f5; -khtml-box-shadow: 0 0 0 3px #f5f5f5; box-shadow: 0 0 0 3px #f5f5f5;}

.uneditable-input, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{ color:$darkbgrey;}

.form-group label, label{ color:$basicgrey; form-weight:normal;font-weight:normal; font-size:14px; }
.form-label{ margin-top:2px;}
.form-group .help{ color:#a7abb1; font-size:12px;}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{border-color:lighten( $bluishgrey, 4% ); background:lighten( $bluishgrey, 4% ); box-shadow:none;}
.has-feedback label ~ .form-control-feedback{ top:24px;}


.edit-form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
}



/* -- selects -- */
.select {
	border:2px solid $bluishgrey;
    background-color: #fff;
	border-radius: 4px;
	position: relative;
	display: inline-block;
	&:hover { box-shadow: 0 0 0 3px #f5f5f5;}
	&:after  {
	color: $bluishgrey;
	content: '\e252';
	font-family: "Glyphicons Halflings";
	font-size: 10px;
	height: 41px; /* height equal select */
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 40px;
	line-height: 36px; /* line height equal height select */
  	z-index: 1;
	}
	& > select{
	-moz-appearance: window;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	display: block;
	background-color: transparent;
	border:none;
	outline: none;
	outline: 0;
	width: 100%;
	padding: 7px 40px 5px 12px;
	position: relative;
	z-index: 2;
  	cursor:pointer;
	font: 13px $font-stack;
	color:#6f7b8a;
}
	& > select::-ms-expand { display: none;}
	& > select option{ line-height:30px;}
}


.ie8 .styled_select select,
.ie9 .styled_select select {padding-right: 12px;}
.ie8 .styled_select:after,
.ie9 .styled_select:after,
.ie8 .styled_select:before,
.ie9 .styled_select:before {display: none;}
/* fin librería UI */