// Import colors-ui
@import "colors";

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	width:18px;
}

.form-label {
	margin-top: 2px;
}

.edit-form select {
	-moz-appearance: window;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
  	background-color: transparent;

}

.contact_search_gender_input select:after {
	margin:0 0 0 -42px;
}

#new_contact_search fieldset li.select:after {
	display: inline-block;
	position: relative;
	right: 7%;
}


#new_contact_search li.select:after{
	display: inline-block;
	position: relative;
	right: 8%;
}