// Nav & Navbar
// -------------------------------------

.nav {
	> li {
		> a {
			@media (max-width: 884px) {
				padding-left: 8px;
				padding-right: 8px;
				-webkit-transition: padding .2s ease-in;
				transition: padding .2s ease-in;
			}
			@media (min-width: 768px) and (max-width: 883px) {
				padding-left: 6px;
				padding-right: 6px;
				-webkit-transition: padding .2s ease-in;
				transition: padding .2s ease-in;
			}
		}
	}
}

.navbar {
	border: none;
	border-radius: 0;
	margin: 0;
}

.nav-vertical {
	border-bottom: none;
	> li {
		border-left: solid 1px #ddd;
		float: none;
		margin-bottom: 0;
		+ li {
			border-top: solid 1px #ddd;
		}
		> a {
			background-image: -moz-linear-gradient(top, #fff, #f1f2f2);
			background-image: -webkit-linear-gradient(top, #fff, #f1f2f2);
			background-image: linear-gradient(top, #fff, #f1f2f2);
			border: none;
			border-radius: 0;
			color: #4D4D4D;
			font: {
				size: 12px;
				weight: bold;
			}
			margin: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-transition: color .2s ease;
  			transition: color .2s ease;
			white-space: nowrap;
			&:hover {
				background-color: inherit;
				color: #09f;
			}
		}
		&.active {
			border-left-color: #fff;
			> a,
			> a:hover,
			> a:focus {
				color: #09f;
				cursor: default;
				background-color: #fff;
				background-image: none;
				border: none;
			}
		}
	}
}

.navbar-toggle {
	border-radius: 0;
	border: none;
	margin-bottom: 17px;
	margin-top: 17px;
	margin-right: 17px;
	&:active,
	&:active:focus,
	&:focus,
	&:hover {
		background-color: rgba(#000,.1);
		outline: none;
	}
}

.navbar-inverse {
	.navbar-collapse,
	.navbar-form {
		border: none;
	}
	.navbar-toggle {
		background-color: rgba(#000,.1);
		-webkit-transition: background-color 150ms ease;
		transition: background-color 150ms ease;
		&.collapsed {
			background-color: transparent;
		}
		&:focus,
		&:hover {
			background-color: rgba(#000,.1);
		}
	}
}

.navbar-collapse {
	box-shadow: none;
}

@media (max-width: 767px) {
	.navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
}