@import "../common/variables";

// Declare new variables
$card-body-bg: #ebebeb;
$card-body-font-color: #4d4d4d;
$card-default-border-top: #999;
$card-primary-border-top: #16acf2;

.panel {
	position: relative;
}

.panel-body {
	padding: 10px;
}

// Card
.card {
	background-color: $card-body-bg;
	border-top: 8px solid transparent;
	margin-bottom: 10px;
	position: relative;
}

.card-default {
	border-top-color: $card-default-border-top;
}

.card-primary {
	border-top-color: $card-primary-border-top;
}

.card-title {
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	@supports (display: -webkit-box) {
	    display: -webkit-box;
	    -webkit-box-orient: vertical;
	    -webkit-line-clamp: 2;
	}
}

.card-body {
	color: $card-body-font-color;
	min-height: 30px;
	padding: 10px;
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}