@import "colors";
/* Librería UI */
#users_article .nav-tabs {
	border:none!important;
	& > li > a {
		border-color:#ddd #ddd transparent;
		border-width:0;
		border-style: solid;
		color:$basicblue;
		border-radius:0;
		color:#55606e;
		background:$bluishgrey ;
	}
	& > li.active > a,
	#users_article .nav-tabs > li.active > a:focus,
	& > li.active > a:hover {
		border-color: transparent;
		background:#f9f9f9;
		color:#304269;
		-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.2);
		-moz-box-shadow:1px 1px 1px rgba(0,0,0,0.2);
		box-shadow:1px 1px 1px rgba(0,0,0,0.2);
		-webkit-border-bottom-right-radius:3px;
		-webkit-border-top-right-radius:3px;
		-moz-border-radius-bottom-right:3px;
		-moz-border-radius-topright:3px;
		border-bottom-right-radius:3px;
		border-top-right-radius:3px;
	}
	& > li.active > a:hover {
		text-decoration:none;
	}
	& > li a:focus,
	.nav-tabs > li a:hover {
		text-decoration:underline;
	}
}



#users_article {
	& h2 {
		margin:20px 0 10px;
	}
	& .tab-content {
		background:#f9f9f9;
		min-height:200px;
		margin: 0;
		padding:10px;
		border:none;
	}
}

.tab-content {
	border:1px solid #d1dade;
}
.nav-tabs {
	border-bottom:none;
	margin:20px 0 0;
}

#users_article .tab-content {
	height:220px;
	overflow:scroll;
}