th form {
  margin: 0px;
}

.badge a {
  color: #ffffff;
}

#request-sync-form {
  display: inline;
}

#search_form {
  display: none;
}

.badge a,
.test {
  color: #fff;
}

.header-form-hidden {
  form {
    display: none;
  }
}

// set size in graphics charts
.chart-container {
  width: 100%;
  height: 400px;
}