// Import colors-ui
@import "../custom/colors";
@import "variables";

// Declare new variables
$font-headers-bold: Gotham-Bold, Helvetica, sans-serif;
$font-headers-medium: Gotham-Medium, Helvetica, sans-serif;

$bg-label-default: #1f9dd9;
$icon-label-default: #1a77a3;
$icon-hover-label-default: #104a66;
$warning-border-color: #e4d045;
$error-border-color: #d9534f;

body {
	color: $text-color;
	font: {
		family: $font-family-base;
	}
}

a {
	color: $link-color;
	&:hover {
		color: darken($link-color, 5%);
	}
	&:active,
	&:focus {
		color: darken($linkcolor, 10%);
	}
}

h1,
h2 {
	font-family: $font-headers-bold;
	margin: 10px 0;
	&:first-child {
		margin-top: 0;
	}
}

h5,
h6 {
	font-family: $font-headers-medium;
}

h1 {
	color: $basicblue;
	font: {
		size: 28px;
	}
}

h2 {
	font: {
		size: 20px;
	}
}
h3 {
	font-weight:normal;
	font-size: 100%;
	color:#000;
	}




h4 {
	font: {
		size: 14px;
	}
}

h2,
h3,
h4,
h5 {
	color: $basicgrey;
}

code {
	white-space: pre-wrap;
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

a.glyphicon {
	color: darken($bordergrey, 40%);
	&:hover {
		color: darken($bordergrey, 80%);
		text-decoration: none;
	}
}

.container {
	max-width: 1200px!important;
	width: 100%;
}

// Lists
.navbar-nav {
	> li {
		margin: 0;
	}
}

// Labels
// ======= Revisar
.label {
	cursor: default;
	.close {
		float: none;
		font: {
			size: 16px;
		}
		line-height: normal;
		position: relative;
		top: 1px;
	}
}

.label-default {
	background-color: $bg-label-default;
	a {
		cursor: pointer;
		text-decoration: none;
		&.glyphicon {
			color: $icon-label-default;
			margin: 0;
			top: 2px;
			&:hover {
				color: $icon-hover-label-default;
			}
		}
	}
}

// Forms
.has-feedback {
	overflow: hidden;
}

// form-control has-success {}
.has-success {
	.checkbox,
	.checkbox-inline,
	.control-label,
	.help-block,
	.radio,
	.radio-inline,
	&.checkbox label,
	&.checkbox-inline label,
	&.radio label,
	&.radio-inline label,
	.form-control-feedback {
		color: $success;
	}
	.form-control {
		border-color: $success;
	}
}

// form-control has-warning {}
.has-warning {
	.checkbox,
	.checkbox-inline,
	.control-label,
	.help-block,
	.radio,
	.radio-inline,
	&.checkbox label,
	&.checkbox-inline label,
	&.radio label,
	&.radio-inline label,
	.form-control-feedback {
		color: $warning;
	}
	.form-control {
		border-color: $warning-border-color;
	}
}

// form-control has-error {}
.has-error {
	.checkbox,
	.checkbox-inline,
	.control-label,
	.help-block,
	.radio,
	.radio-inline,
	&.checkbox label,
	&.checkbox-inline label,
	&.radio label,
	&.radio-inline label,
	.form-control-feedback {
		color: $error;
	}
	.form-control {
		border-color: $error-border-color;
	}
}

// Well
.well {
	background-color: #f8f8f8;
	border-color: #ccc;
	box-shadow: none;
}

// Funnel
.funnel,
.funnel-nav-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.funnel-nav {
	background-color: #fff;;
	border-radius: 2px;
	margin-bottom: 15px;
}

.funnel-nav-item {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: $bg-panel;
	margin: 0 .5em 0 1em;
	overflow: initial;
	width: 25%;
	@for $i from 1 through 4 {
		&:nth-child(#{$i}) {
			background-color: darken($bg-panel, (15% * $i));
			&:before {
				border-color: darken($bg-panel, (15% * $i)) darken($bg-panel, (15% * $i)) darken($bg-panel, (15% * $i)) transparent;
			}
			&:after {
				border-left-color: darken($bg-panel, (15% * $i));
			}
		}
	}
	&:before {
		bottom: 0;
		content: "";
	    position: absolute;
	    top: 0;
	    border-width: 33.5px 0 33.5px 1em;
	    border-style: solid;
	    border-color: $bg-panel $bg-panel $bg-panel transparent;
	    left: -1em;
	}
	&:after {
	    content: "";
	    position: absolute;
	    top: 0;
	    border-top: 33.5px solid transparent;
	    border-bottom: 33.5px solid transparent;
	    border-left: 1em solid $bg-panel;
	    right: -1em;
	}
	&:first-child {
		margin-left: 0;
		&:before {
			display: none;
		}
	}
	&.active {
		background-color: #fff;
		&:before {
			border-color: #fff #fff #fff transparent;
		}
		&:after {
			border-left-color: #fff;
		}
		.funnel-value,
		.funnel-content:before,
		.funnel-content a {
			color: #8c8c8c;
		}
	}
	.funnel-value {
		color: #fff;
		-webkit-box-flex: 0;
		-webkit-flex: none;
		-ms-flex: none;
		flex: none;
		font: {
			size: 36px;
		}
		margin-left: 20px;
	}
	.funnel-content {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-moz-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		overflow: hidden;
	}
}

.funnel-content {
	position: relative;
	$h: 20px;
	&:before {
		color: #fff;
		content: '|';
		height: $h;
		left: 5px;
		margin-top: - ($h / 2);
		position: absolute;
		top: 50%;
	}
	a {
		color: #fff;
		display: block;
		overflow: hidden;
		padding: 23.5px 30px 23.5px 15px;
		text-overflow: ellipsis;
		white-space: nowrap;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

@mixin offset-margin($margin, $value){
        margin-#{$margin}: $value;
}

@for $i from 1 through 10 {
  @each $margin in top, bottom {

    .margin-#{$margin}-#{$i}0{
        @include offset-margin($margin, 10px * $i)
    }

  }
}

.no-padding {
	padding: 0;
}

.not-set {
	color: $gray-light;
	font: {
		size: $font-size-base-sm;
		style: italic;
		weight: normal;
	}
}