// Import colors-ui
@import "../custom/colors";
@import "variables";

// Declare new variables
$font-headers-bold: Gotham-Bold, Helvetica, sans-serif;
$font-headers-medium: Gotham-Medium, Helvetica, sans-serif;

body {
	color: $text-color;
	font: {
		family: $font-family-base;
	}
}

a {
	color: $link-color;
	&:hover {
		color: darken($link-color, 5%);
	}
	&:active,
	&:focus {
		color: darken($linkcolor, 10%);
	}
}

h1,
h2 {
	font-family: $font-headers-bold;
	margin: 10px 0;
	&:first-child {
		margin-top: 0;
	}
}

h5,
h6 {
	font-family: $font-headers-medium;
}

h1 {
	color: $basicblue;
	font: {
		size: 28px;
	}
}

h2 {
	font: {
		size: 20px;
	}
}

h3 {
	font-weight: normal;
	font-size: 100%;
	color: #000;
}

h4 {
	font: {
		size: 14px;
	}
}

h2,
h3,
h4,
h5 {
	color: $basicgrey;
}

code {
	white-space: pre-wrap;
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

// Layout
.container {
	max-width: 1200px;
	width: 100%;
}

// Labels
// ======= Revisar
.label {
	cursor: default;
	.close {
		float: none;
		font: {
			size: 16px;
		}
		line-height: normal;
		position: relative;
		top: 1px;
	}
}

$color-funnel-content: #4d4d4d;
// Funnel
.funnel,
.funnel-nav-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.funnel-nav {
	background-color: #fff;;
	border-radius: 2px;
	margin-bottom: 15px;
}

.funnel-nav-item {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: $bg-panel;
	margin: 0 .5em 0 1em;
	overflow: initial;
	width: 25%;
	//@for $i from 1 through 4 {
		//&:nth-child(#{$i}) {
		//	background-color: darken($bg-panel, (15% * $i));
		//	&:before {
		//		border-color: darken($bg-panel, (15% * $i)) darken($bg-panel, (15% * $i)) darken($bg-panel, (15% * $i)) transparent;
		//	}
		//	&:after {
		//		border-left-color: darken($bg-panel, (15% * $i));
		//	}
		//	&:hover {
		//		background-color: darken($bg-panel, (10% * $i));
		//		&:before {
		//			border-color: darken($bg-panel, (10% * $i)) darken($bg-panel, (10% * $i)) darken($bg-panel, (10% * $i)) transparent;
		//		}
		//		&:after {
		//			border-left-color: darken($bg-panel, (10% * $i));
		//		}
		//	}
		//}
	//}
	&:before {
		bottom: 0;
		content: "";
	    position: absolute;
	    top: 0;
	    border-width: 33.5px 0 33.5px 1em;
	    border-style: solid;
	    border-color: $bg-panel $bg-panel $bg-panel transparent;
	    left: -1em;
	}
	&:after {
	    content: "";
	    position: absolute;
	    top: 0;
	    border-top: 33.5px solid transparent;
	    border-bottom: 33.5px solid transparent;
	    border-left: 1em solid $bg-panel;
	    right: -1em;
	}
	&:first-child {
		margin-left: 0;
		&:before {
			display: none;
		}
	}
	&.active,
	&.active:hover {
		background-color: #fff;
		&:before {
			border-color: #fff #fff #fff transparent;
		}
		&:after {
			border-left-color: #fff;
		}
		.funnel-value,
		.funnel-content:before,
		.funnel-content a {
			color: #8c8c8c;
		}
	}
	.funnel-value {
		color: #949494;
		-webkit-box-flex: 0;
		-webkit-flex: none;
		-ms-flex: none;
		flex: none;
		font: {
			size: 36px;
		}
		margin-left: 20px;
	}
	.funnel-content {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-moz-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		overflow: hidden;
	}
}

.funnel-content {
	position: relative;
	$h: 20px;
	&:before {
		color: $color-funnel-content;
		content: '|';
		height: $h;
		left: 5px;
		margin-top: - ($h / 2);
		position: absolute;
		top: 50%;
	}
	a {
		color: $color-funnel-content;
		display: block;
		overflow: hidden;
		padding: 23.5px 30px 23.5px 15px;
		text-overflow: ellipsis;
		white-space: nowrap;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

@mixin offset-margin($margin, $value){
        margin-#{$margin}: $value;
}

@for $i from 1 through 10 {
  @each $margin in top, bottom {

    .margin-#{$margin}-#{$i}0{
        @include offset-margin($margin, 10px * $i)
    }

  }
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.not-set {
	color: $gray-light;
	font: {
		size: $font-size-base-sm;
		style: italic;
		weight: normal;
	}
}

// Custom buttons
.btn-original {
	background-color: transparent;
	border: none;
	color: $gray-dark;
	cursor: pointer;
	display: inline-block;
	font: {
		style: normal;
		weight: normal;
	}
	outline: 0;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-user-select: none;
	vertical-align: middle;
	word-wrap: normal;
}

.with-icon {
	font: {
		size: $font-size-base-sm;
	}
	height: 33px;
	line-height: 33px;
	padding: 0 1rem;
}

// Custom colors


// Dl horizontal flex
.dl-horizontal-flex {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	margin-bottom: 15px;
	dt {
		-webkit-box-flex: 0;
		-webkit-flex: none;
		-ms-flex: none;
		flex: none;
    }
    dd {
    	-webkit-box-flex: 1;
		-webkit-flex: 1;
		-moz-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		padding-left: 10px;
    }
}

// Card
// Declare new variables for Card
$card-body-bg: #ebebeb;
$card-body-font-color: #4d4d4d;
$card-default-border-top: #999;
$card-primary-border-top: #16acf2;

.card {
	background-color: $card-body-bg;
	border-top: 4px solid transparent;
	margin-bottom: 10px;
	position: relative;
}

.card-default {
	border-top-color: $card-default-border-top;
}

.card-primary {
	border-top-color: $card-primary-border-top;
}

.card-title {
	display: block;
	font: {
		size: 12px;
		weight: bold;
	}
	margin: 0 0 5px;
	overflow: hidden;
	padding: 5px 5px 0;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
	@supports (display: -webkit-box) {
	    display: -webkit-box;
	    -webkit-box-orient: vertical;
	    -webkit-line-clamp: 2;
	    white-space: normal;
	}
}

.card-body {
	color: $card-body-font-color;
	font: {
		family: $font-family-sans-serif;
		size: $font-size-base-sm;
	}
	min-height: 30px;
	padding: 10px;
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}