// Import colors-ui
@import "../custom/colors";
@import "variables";

// Declare new variables
$font-headers-bold: Gotham-Bold, Helvetica, sans-serif;
$font-headers-medium: Gotham-Medium, Helvetica, sans-serif;

$bg-label-default: #1f9dd9;
$icon-label-default: #1a77a3;
$icon-hover-label-default: #104a66;
$warning-border-color: #e4d045;
$error-border-color: #d9534f;

body {
	color: $text-color;
	font: {
		family: $font-family-base;
	}
}

a {
	color: $link-color;
	&:hover {
		color: darken($link-color, 5%);
	}
	&:active,
	&:focus {
		color: darken($linkcolor, 10%);
	}
}

h1,
h2 {
	font-family: $font-headers-bold;
	margin: 10px 0;
	&:first-child {
		margin-top: 0;
	}
}

h5,
h6 {
	font-family: $font-headers-medium;
}

h1 {
	color: $basicblue;
	font: {
		size: 28px;
	}
}

h2 {
	font: {
		size: 20px;
	}
}
h3 {
	font-weight:normal;
	font-size: 100%;
	color:#000;
	}




h4 {
	font: {
		size: 14px;
	}
}

h2,
h3,
h4,
h5 {
	color: $basicgrey;
}

code {
	white-space: pre-wrap;
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

a.glyphicon {
	color: darken($bordergrey, 40%);
	&:hover {
		color: darken($bordergrey, 80%);
		text-decoration: none;
	}
}

.container {
	max-width: 1200px!important;
	width: 100%;
}

// Lists
.navbar-nav {
	> li {
		margin: 0;
	}
}

// Labels
// ======= Revisar
.label {
	cursor: default;
	.close {
		float: none;
		font: {
			size: 16px;
		}
		line-height: normal;
		position: relative;
		top: 1px;
	}
}

.label-default {
	background-color: $bg-label-default;
	a {
		cursor: pointer;
		text-decoration: none;
		&.glyphicon {
			color: $icon-label-default;
			margin: 0;
			top: 2px;
			&:hover {
				color: $icon-hover-label-default;
			}
		}
	}
}

// Forms
.has-feedback {
	overflow: hidden;
}

// form-control has-success {}
.has-success {
	.checkbox,
	.checkbox-inline,
	.control-label,
	.help-block,
	.radio,
	.radio-inline,
	&.checkbox label,
	&.checkbox-inline label,
	&.radio label,
	&.radio-inline label,
	.form-control-feedback {
		color: $success;
	}
	.form-control {
		border-color: $success;
	}
}

// form-control has-warning {}
.has-warning {
	.checkbox,
	.checkbox-inline,
	.control-label,
	.help-block,
	.radio,
	.radio-inline,
	&.checkbox label,
	&.checkbox-inline label,
	&.radio label,
	&.radio-inline label,
	.form-control-feedback {
		color: $warning;
	}
	.form-control {
		border-color: $warning-border-color;
	}
}

// form-control has-error {}
.has-error {
	.checkbox,
	.checkbox-inline,
	.control-label,
	.help-block,
	.radio,
	.radio-inline,
	&.checkbox label,
	&.checkbox-inline label,
	&.radio label,
	&.radio-inline label,
	.form-control-feedback {
		color: $error;
	}
	.form-control {
		border-color: $error-border-color;
	}
}

// Well
.well {
	background-color: #f8f8f8;
	border-color: #ccc;
	box-shadow: none;
}

@mixin offset-margin($margin, $value){
        margin-#{$margin}: $value;
}

@for $i from 1 through 10 {
  @each $margin in top, bottom {

    .margin-#{$margin}-#{$i}0{
        @include offset-margin($margin, 10px * $i)
    }

  }
}

.no-padding {
	padding: 0;
}

.not-set {
	color: $gray-light;
	font: {
		size: $font-size-base-sm;
		style: italic;
		weight: normal;
	}
}