/* Button

$light_grey: #f1f2f2;
$dark_grey: #dcdddd;

$light_green: #ebffcf;
$dark_green: #9fdd0c;

$light_red: #ffd4c7;
$dark_red: red;

@mixin button-background-color($light,$dark) {
  background: $dark; // fallback
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, $light),color-stop(1, $dark)); // Saf4+, Chrome en adelante
  background: -moz-linear-gradient(top, $light, $dark); // FF3.6 en adelante
}

.bt {
  a, button {
    display:inline-block;
    padding:0px;
    margin:0px;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; // CSS3 con -moz- & -webkit prefix for application on firefox + chrome
    @include button-background-color(#FFF, $light_grey);
    vertical-align: middle;
    cursor: pointer;
    &:hover:enabled {
      @include button-background-color($light_grey, $dark_grey);
    }
    &:active:enabled {
      @include button-background-color($dark_grey, $light_grey);
    }
    &:disabled {
      span:last-child {
        color: rgb(204, 204, 204);
      }
    }
  }

  &.green a, &.green button {
    &:hover {
      @include button-background-color($light_green, $dark_green);
    }

    &:active {
      @include button-background-color($dark_green, $light_green);
    }
  }

  &.red a, &.red button {
    &:hover {
      @include button-background-color($light_red, $dark_red);
    }

    &:active {
      @include button-background-color($dark_red, $light_red);
    }
  }


  button {
    font-size: 12px;
    height: 26px;
    min-width: 24px;
    line-height: 11px;
  }
  // Button Heigths Classes

  &.h24 {
    a {
      height:24px;
      min-width:24px;
    }

    span:first-child {
      display:inline-block;
      height:16px;
      width:16px;
      padding:0px;
      margin:4px 0px 4px 6px;
    }

    span:last-child {
      display:inline-block;
      vertical-align:top;
      font: {
        family:Arial, Helvetica, sans-serif;
        size:12px;
        weight: bold;
      }
      color:#4D4D4D;
      margin:6px 6px 6px 6px;
    }

    &.textOnly span:first-child {
      display:none;
    }

    &.iconOnly {
      span:first-child {
        margin:4px 6px 4px 6px;
      }

      span:last-child {
        display:none;
      }
    }
  }
}

*/

// buttons style
//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.button {
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(#000,.05);
  cursor: pointer;
  display: inline-block;
  font: {
    size: 12px;
    weight: bold;
  }
  line-height: 1.42857143;
  margin-bottom: 0;
  outline: 0;
  padding: 6px 12px !important;
  text-align: center;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  span {
    &[class*="icon"] {
      display: inline-block;
      height: 16px;
      vertical-align: middle;
      width: 16px;
      + span {
        margin-left: 5px;
        &:empty {
          display: none;
        }
      }
    }
    &:not([class*="icon"]) {
      display: none;
    }
    &:last-child {
      color: inherit;
      display: inline-block;
      font: {
        size: inherit;
        weight: inherit;
      }
      margin: 0;
    }
  }
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  &:active,
  &.active {
    background-image: none;
    box-shadow: inset 0 1px 0 #ddd;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    opacity: .65;
    box-shadow: none;
  }
}


// Alternate buttons
// --------------------------------------------------

.button-default {
  border-color: #d3d3d3;
  background: #f8f8f8;
  color: #333;
  &:hover,
  &:focus,
  &.focus {
    border-color: #c6c6c6;
    background: #f0f0f0;
    box-shadow: 0 1px 0 rgba(#000,.10);
    color: #333;
    text-decoration: none;
  }
  &:active,
  &:active:focus,
  &.active,
  &:focus,
  &.focus {
    background-image: none;
    box-shadow: inset 0 1px 0 #ddd;
  }
}
.button-primary {
  color: #fff;
  background-color: #3991e3;
  border-color: #3991e3;
  &:active,
  &.active,
  &:hover,
  &:focus {
    background-color: darken(#3991e3,10%);
    border-color: darken(#3991e3,10%);
    color: #fff;
  }
}
// Success appears as green
.button-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
// Info appears as blue-green
.button-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
// Warning appears as orange
.button-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
// Danger and error appear as red
.button-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.button-link {
  background-color: transparent;
  box-shadow: none;
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
  }
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
    box-shadow: none;
  }
  &:hover,
  &:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: #23527c;
      text-decoration: none;
      opacity: .65;
    }
  }
}

// Block button
// --------------------------------------------------

.button-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.button-block + .button-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.button-block {
    width: 100%;
  }
}

// buttons with icon
//
// After change style..

.iconComment16 {
  background:url('icon_sprite_grid_16px.png') -48px 0px no-repeat;
}

.iconFilter16 {
  background:url('icon_sprite_grid_16px.png') -64px 0px no-repeat;
}

.iconConfig16 {
  background:url('icon_sprite_grid_16px.png') -80px 0px no-repeat;
}

.iconDownload16 {
  background:url('icon_sprite_grid_16px.png') 0px -144px no-repeat;
}