/* Button */

$light_grey: #f1f2f2;
$dark_grey: #dcdddd;

$light_green: #ebffcf;
$dark_green: #9fdd0c;

$light_red: #ffd4c7;
$dark_red: red;

@mixin button-background-color($light,$dark) {
  background: $dark; /* fallback */
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, $light),color-stop(1, $dark)); /* Saf4+, Chrome en adelante*/
  background: -moz-linear-gradient(top, $light, $dark); /* FF3.6 en adelante*/
}

.bt {
  a, button {
    display:inline-block;
    padding:0px;
    margin:0px;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
    @include button-background-color(#FFF, $light_grey);
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      @include button-background-color($light_grey, $dark_grey);
    }
    &:active {
      @include button-background-color($dark_grey, $light_grey);
    }
  }

  &.green a, &.green button {
    &:hover {
      @include button-background-color($light_green, $dark_green);
    }

    &:active {
      @include button-background-color($dark_green, $light_green);
    }
  }

  &.red a, &.red button {
    &:hover {
      @include button-background-color($light_red, $dark_red);
    }

    &:active {
      @include button-background-color($dark_red, $light_red);
    }
  }


  button {
    font-size: 12px;
    height: 26px;
    min-width: 24px;
    line-height: 11px;
  }
  /* Button Heigths Classes */

  &.h24 {
    a {
      height:24px;
      min-width:24px;
    }

    span:first-child {
      display:inline-block;
      height:16px;
      width:16px;
      padding:0px;
      margin:4px 0px 4px 6px;
    }

    span:last-child {
      display:inline-block;
      vertical-align:top;
      font: {
        family:Arial, Helvetica, sans-serif;
        size:12px;
        weight: bold;
      }
      color:#4D4D4D;
      margin:6px 6px 6px 6px;
    }

    &.textOnly span:first-child {
      display:none;
    }

    &.iconOnly {
      span:first-child {
        margin:4px 6px 4px 6px;
      }

      span:last-child {
        display:none;
      }
    }
  }
}

/* Button Icon Classes */

.iconComment16 {
	background:url('icon_sprite_grid_16px.png') -48px 0px no-repeat;
}

.iconFilter16 {
	background:url('icon_sprite_grid_16px.png') -64px 0px no-repeat;
}

.iconConfig16 {
	background:url('icon_sprite_grid_16px.png') -80px 0px no-repeat;
}

.iconDownload16 {
	background:url('icon_sprite_grid_16px.png') 0px -144px no-repeat;
}