//$header-max-width:			916px;
//$brand-margin-width:		1200px;

/* collapse
@media (max-width: $header-max-width) {
	.navbar-header,
	.navbar-right,
	.navbar-nav,
	.navbar-nav > li {
		float: none !important;
	}
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin: 10px 15px;
	}
	.navbar-nav {
		margin: 7.5px -15px;
	}
	.container-fluid > .navbar-collapse,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container > .navbar-header {
		margin-left: -15px;
		margin-right: -15px;
	}
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
		padding: 5px 20px;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a {
		background-color: rgba(#000,.1);
		color: #fff;
	}
	.navbar-inverse {
		.navbar-toggle {
			border-radius: 50%;
			display: block;
			margin: 18.5px 20px !important;
			height: 30px;
			width: 30px;
			&:hover,
			&:focus {
				background-color: rgba(#000,.1);
			}
			.icon-bar {
				margin-left: auto;
				margin-right: auto;
				width: 18px;
			}
		}
	}
	.navbar-collapse {
		box-shadow: inset 0 1px 0 rgba(#fff,.1);
	}
	.navbar-collapse.collapse {
		display: none !important;
		visibility: hidden !important;
	}
	.navbar-nav .add-contact {
		border-radius: 5px;
		margin: 0 15px 7.5px;
	}
}

@media (min-width: $header-max-width + 1) and (max-width: $brand-margin-width) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-left: 0;
	}
}
*/