/* CSS Document */
@charset "utf-8";

#H_moduleArea {
	font: {
		family: "Gotham-Medium";
	}
	> .navbar {
		background-color: #0971b7;
		border: none;
		border-radius: 0;
		margin: 0;
	}
	> .navbar,
	> .subnav {
		> .container {
			max-width: 1200px;
			width: 100%;
			@media (max-width: 767px) {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
	a#username {
		background-position: 5px center !important;
		padding-left: 35px;
		text-transform: none;
	}
}

#H_mainArea {
	overflow: visible;
	height: 38px;
	background: #f1f2f2; /* fallback */
	background: -moz-linear-gradient(top, #FFF, #f1f2f2); /* FF3.6 en adelante*/
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFF),color-stop(1, #f1f2f2)); /* Saf4+, Chrome en adelante*/
	background: -webkit-linear-gradient(top, #fff, #f1f2f2);
	background: linear-gradient(top, #fff, #f1f2f2);
	border-radius: 5px;
}

// logo
#H_logo.navbar-brand {
	background: url("logo-padma-w.png") no-repeat scroll center left rgba(0, 0, 0, 0);
	height: 47px;
	margin: 1.5px 10px 0 0;
	width: 53px;
}

// navbar
.navbar-inverse {
	.navbar-nav {
		> li {
			> a {
				color: #fff;
				font: {
					family: "Gotham-Medium", verdana;
					size: 11px;
				}
				line-height: 22px;
				text-transform: uppercase;
			}
			&.open {
				> a,
				> a:focus,
				> a:hover {
					background-color: #25669e;
				}
			}
		}
		> li,
		> li:hover {
			> .aui-avatar,
			> .aui-avatar:focus,
			> .aui-avatar:hover {
				background-color: #25669e !important;
			}
		}
	}
}

.navbar-nav {
	> .current,
	> .active {
		> a {
			background-color: #25669e;
		}
	}
	&.aui-nav-primary {
		.add-contact {
			background-color: #1f9dd9;
			color: #fff;
			margin-right: 10px;
			height: 52px;
			text-shadow: 0 -1px 0 rgba(#000,.1);
			-webkit-transition: background-color 120ms cubic-bezier(.25,.25,0,1);
			transition: background-color 120ms cubic-bezier(.25,.25,0,1);
			&:hover {
				background-color: #4394c1;
			}
		}
	}
}

// dropdown-header
.navbar-nav {
	> li {
		> .dropdown-menu {
			border: none;
			max-height: 400px;
			overflow-x: hidden;
			overflow-y: auto;
			a {
				color: #666;
				font: {
					size: 11px;
				}
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}

@media (min-width: 768px) {
	#navbar {
		.navbar-nav li:hover .dropdown-menu {
			display: block;
		}
	}
}

#navbar .navbar-nav li:hover > .dropdown-toggle {
	background-color: #25669e;
}

// navbar subnav
nav.subnav {
	font: {
		family: "Gotham-Medium", verdana;
		size: 11px;
		weight: normal;
	}
	height: 54px;
	.wrapper {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background-color: #f5f5f5;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
	}
	.pane-breadcrumb {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-moz-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	h2 {
		background-color: #eaeaea;
		color: #2d74b2;
		display: inline-block;
		font: {
			size: 11px;
		}
		line-height: 54px;
		margin: 0 10px 0 0;
		padding: 0 10px;
		text-decoration: none;
		text-transform: uppercase;
		> a {
			display: block;
		}
	}
	.search-form {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		float: right;
		margin-left: 10px;
	}
}

.search-form {
	input[type="text"],
	select {
		background-color: #fff;
		border: 1px solid #ccc;
		height: 32px;
		outline: 0;
		position: relative;
		&:focus {
			border-color: rgb(77, 144, 254);
			z-index: 2;
		}
	}
	input[type="text"] {
		margin-left: -1px;
		padding-left: 5px;
		padding-right: 5px;
		&::-moz-placeholder {
			color: #999;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #999;
		}
		&::-webkit-input-placeholder {
			color: #999;
		}
	}
	select {
		-moz-appearance: none;
	    -webkit-appearance: none;
	    appearance: none;
		background-image: url("caret-down.png");
		background-position: right center;
		background-repeat: no-repeat;
		border-radius: 4px 0 0 4px;
		padding-left: 5px;
	    padding-right: 20px;
	}
	.search-button {
		border-radius: 0 2px 2px 0;
		height: 32px;
		margin-left: -1px !important;
		padding-left: 8px !important;
		padding-right: 8px !important;
	}
	> nav > li > a {
		padding: 8px;
	}
	.glyphicon {
		font: {
			size: 18px;
		}
	}
	a span {
		color: #337ab7;
		&:hover {
			color: #25669e;
		}
	}
	.s_search {
		float: right;
		margin: 4px 0 0 10px;
	}
}

@media (max-width:1200px){
	#H_logo.navbar-brand {
		margin-left: 10px;
	}
}

@media (max-width:767px){
	#H_logo.navbar-brand {
		margin: 10px;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
}