@charset "utf-8";
/* CSS Document */

/* Search Button */
input[class="submit_search"] {
	width: 25px;
	height: 25px;
	vertical-align: top;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	background: #f1f2f2; /* fallback */
	background: url('icon_search_active_24px.png') -1px -1px no-repeat; /* fallback */
	background: url('icon_search_active_24px.png') -1px -1px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#f1f2f2)); /* Saf4+, Chrome */
	background: url('icon_search_active_24px.png') -1px -1px no-repeat, -webkit-linear-gradient(top, #FFF, #f1f2f2); /* Chrome 10+, Saf5.1+ */
	background: url('icon_search_active_24px.png') -1px -1px no-repeat, -moz-linear-gradient(top, #FFF, #f1f2f2); /* FF3.6+ */
	background: url('icon_search_active_24px.png') -1px -1px no-repeat, -ms-linear-gradient(top, #FFF, #f1f2f2); /* IE10 */
	background: url('icon_search_active_24px.png') -1px -1px no-repeat, -o-linear-gradient(top, #FFF, #f1f2f2); /* Opera 11.10+ */
	background: url('icon_search_active_24px.png') -1px -1px no-repeat, linear-gradient(top, #FFF, #f1f2f2); /* W3C */
}

/* Module Area Styles  */

#H_moduleArea {
	width:auto;
	background-color:#0971b7;
	height:auto!important;
	font-family: 'Gotham-Medium';
}


/* Main Area Styles  */

#H_mainArea {
	overflow: visible;
	height:38px;
	background-color:#E5E5E5;
	background: #f1f2f2; /* fallback */
	background: -moz-linear-gradient(top, #FFF, #f1f2f2); /* FF3.6 en adelante*/
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFF),color-stop(1, #f1f2f2)); /* Saf4+, Chrome en adelante*/
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
}

/* Logo Box Styles */

#H_logoBox {
	width:79px;
	height:100%;
	float:left;
}

#H_logo {
	display:block;
	width:100%;
	height:38px;
	background:url('logo_30px.png') no-repeat center center;
}

/* Scope Select Styles */

#H_scopeSelect {
	float:left;
	width:32px;
	height:24px;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px 0px 0px 5px; -moz-border-radius: 5px 0px 0px 5px; border-radius: 5px 0px 0px 5px; /* CSS3 con -moz- & -webkit prefix for application on firefox + chrome */
	list-style:none outside none; 
	background-color:#F5F5F5; 	/* TODO: CSS3 Backround Color Gradient */
}

#H_scopeSelect span {
	display:inline-block;
}

#H_scopeSelect .scopeIcon {
	display:inline-block;
	width:16px;
	height:16px;
	margin:4px 0px 4px 4px;
	background-color:red;
}

#H_scopeSelect .arrowIcon {
	display:inline-block;
	width:8px;
	height:8px;
	margin:0px 0px 7px 2px;
	background:url('icon_sprite_grid_8px.png') -80px -8px no-repeat;
}

/* Scope List Styles */

#H_scopeList {
	display:none;
	position:absolute;
	top:28px;
	width:32px;
	border: 1px solid #CCC;
	background-color:#fff;
	list-style:none outside none;
}

#H_scopeList li {
 	margin:0px;
	padding:0px;
}

#H_scopeList li:hover {
	background-color:#F2F2F2;
}

#H_scopeList li:hover .iconLocal {
	background:url('icon_sprite_grid_16px.png') -128px -96px no-repeat;
}

#H_scopeList li:active .iconLocal {
	background:url('icon_sprite_grid_16px.png') -128px -112px no-repeat;
}

#H_scopeList li:hover .iconGlobal {
	background:url('icon_sprite_grid_16px.png') -144px -96px no-repeat;
}

#H_scopeList li:active .iconGlobal {
	background:url('icon_sprite_grid_16px.png') -144px -112px no-repeat;
}

#H_scopeList span {
	display:inline-block;
}

#H_scopeList .scopeIcon {
	display:inline-block;
	vertical-align:top;
	width:16px;
	height:16px;
	margin:4px 0px 4px 4px;
	background-color:red;
}

/* Search Field Classes */

#H_searchForm input[id="searchField"] {
	height:16px;
	width:139px;
	float:left;
	border: 1px solid #CCC;
	border-left:0px;
	padding: 4px 5px;
	margin-right:5px;
}

/* Dinamic Classes */

#H_scopeList.show {
		display:block;
}

#H_search .iconLocal {
	background:url('icon_sprite_grid_16px.png') -128px -80px no-repeat;
}

#H_search .iconGlobal {
	background:url('icon_sprite_grid_16px.png') -144px -80px no-repeat;
}

	
/* NEW HEADER */

#H_logo.navbar-brand{ background:url("logo-padma-w.png") no-repeat scroll center left rgba(0, 0, 0, 0) ; height:47px; margin:0 10px 0 0; width:53px;}

nav.navbar{max-width:1200px; background:none; margin:0 auto;}
#H_moduleArea .navbar-inverse .navbar-nav > li > a{ color:#ffffff; font-family: 'Gotham-Medium', verdana; font-weight:normal;font-size:11px; text-transform:uppercase; line-height:22px;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{ font-weight:normal; background:#25669e;}
.navbar-nav li.current a{ background:#25669e; }

.navbar-nav > li > a.tipsyS{ background:#1f9dd9; color:#ffffff; margin:0 10px 0 0; height:52px; }
.navbar-nav > li > a.tipsyS:hover{ background:#4394c1; color:#ffffff;}
.navbar-static-top{ border-width:0 !important;}
li.dtitle{ background:#f5f5f5; color:#666666; font-size:12px; line-height:32px; padding:0 0 0 20px; text-transform:uppercase; }
.navbar-toggle{ margin:24px 20px 0 0 !important;}
.navbar-nav > li > .dropdown-menu{ max-height:400px; overflow:scroll; text-transform:none; background:#ffffff; border:none;}
.navbar-nav > li > .dropdown-menu a{ text-transform:none; font-size:11px; color:#666666;}
.navbar-nav > li > .dropdown-menu a:hover{ background:none; color:#000000;}
#H_moduleArea  a#username{  padding:0 10px 0 30px; height:52px; line-height:50px; background-position: left center!important; text-transform:none; }
#H_moduleArea  .navbar-inverse .navbar-toggle{ border:none;}
#H_moduleArea  .navbar-header{ border:none;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{ border-color:none;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{ background:none;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{ color:#333333;}
#H_moduleArea .navbar-right{margin-right:0;}


nav.subnav{ background:none; font-family: 'Gotham-Medium', verdana; font-weight:normal; font-size:11px; background:#f5f5f5;}
nav.subnav .wrapper{ max-width:1200px; margin:0 auto; overflow:hidden; position:relative;}
nav.subnav h2 a{ display:inline-block; font-size:11px; line-height:54px; float:left;text-transform:uppercase; color:#2d74b2; margin:0 10px 0 0; background:#eaeaea; padding:0 10px; text-decoration:none;}
nav.subnav h2 a:hover{ background:#e0e0e0;}
nav.subnav ul{ display:inline-block; margin:10px 0 0;}
.nav-pills a {color:#2d74b2; font-size:13px;}
nav.subnav form{ display:inline-block; float:right; margin:10px 0 0;}
nav.subnav input, nav.subnav select{ border:1px solid #cccccc; line-height:32px; height:32px;}
nav.subnav  nav > li > a{ padding:8px;}
.subnav .glyphicon{ font-size:18px;}
.subnav a span{ color:#337ab7;}
.subnav .s_search{ float:right; margin:4px 0 0 10px;}
.subnav a span:hover{ color:25669e;}
.nav-pills > li > a:hover{ background:#0971b7; color:#ffffff;}


@media (max-width:1200px){
	#H_logo.navbar-brand{ margin:0 0 0 10px;} 
	nav.subnav .wrapper{ max-width:96%;}
}

@media (max-width:767px){ 
#H_logo.navbar-brand{ margin:10px;} 
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{ color:#ffffff;}
}