body {
	font-family: Verdana, Geneva, sans-serif;
	color:#4D4D4D;
}


/* Page Container Styles */

.pageContainer {
	margin: 0px auto;
	overflow:auto;
}

/* Header Styles */

.header {
	width:auto;
	margin:0 auto;
}

/* Main Body Styles */

.main {
	/*test*/
	overflow:auto;
	max-width:960px; margin:0 auto;
}

/* Footer Styles */

.footer {
	width:960px;
	height:20px;
}