body {
	font-family: Verdana, Geneva, sans-serif;
	color:#4D4D4D;
}


/* Page Container Styles */

.pageContainer {
	height: 100%;
	margin: 0px auto;
}

/* Header Styles */

.header {
	margin:0 auto;
	width: auto;
}

/* Main Body Styles */

.main {
	/*test*/
	margin:0 auto;
	max-width:960px;
}

/* Footer Styles */

.footer {
	width:960px;
	height:20px;
}