// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.padma-table {
  overflow:hidden;
  width:100%;
  margin:0 auto 0;

  td {
    background: #FFFFFF;
  }

  tr:nth-child(odd) td {
    background: #F2F2F2;
  }

  th {
	  
  }


  th .current {
    padding-right: 40px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  th .asc {
    background-image: url('arrow_up.png');
  }

  th .desc {
    background-image: url('arrow_down.png');
  }
}

.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
	.sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}
	.sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.sticky-wrap .sticky-intersect th {
			background-color:#f2f2f2;
			color: #4D4D4D;
		}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;

}
.sticky-thead thead td, .sticky-thead thead th {
	box-sizing: border-box;
	background:#ffffff;
	color: #6f7b8a;
	font-size:12px;
	border:1px solid #e2e8eb;
	line-height:1.42857;
	font-family: Arial,Helvetica,sans-serif;
	padding:12px;
	text-transform:uppercase;
}
.sticky-thead thead td a, .sticky-thead thead th a{ color: #304269;}

.sticky-thead thead th:first-child{ padding:0 18px 0 4px !important;}


/* Not needed for sticky header/column functionality */
td.user-name {
	text-transform: capitalize;
}
.sticky-wrap.overflow-y {
	overflow-y: auto;
	max-height: 50vh;
}

