body{ font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; color:#000000; font-size:13px;}
a{ color:#0971b7;}
a:hover{ text-decoration:underline; color:#44689f;}
h1, h2, h3, h4{ font-family:Gotham-Bold, Helvetica, sans-serif; }
h1, h2{color:#0971b7;}
h1{font-size:28px; }
h2{font-size:20px; }
h3{ font-size:12px; color:#000000; text-transform:uppercase;}


/* BOTONES */
::-webkit-input-placeholder {color: red;}
:-moz-placeholder { /* Firefox 18- */  color: red;  }
::-moz-placeholder {  /* Firefox 19+ */   color: red;  }
:-ms-input-placeholder {    color: red;  }
.btn-default{background:#dddddd; font-size:13px; padding:0 24px; line-height:38px; border:none; color:#6a6a6a;}
.btn-default.active,.btn-default.focus,.btn-default:active,.btn-default:focus,.btn-default:hover,.open>.dropdown-toggle.btn-default{background-color:#cdcccd;border-color:none; color:#444444;}
.btn-sm.btn-default{ padding:0 16px; line-height:30px; }

.btn-primary{ background:#0971b7; font-size:13px; padding:0 24px; line-height:38px; border:none;}
.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary{background-color:#0766a6;border-color:none;}
.btn-sm{ padding:0 16px; line-height:30px; border:none; }

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default.active[disabled], .btn-default.focus[disabled], .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover{ background:#f5f5f5; border-color:#f2f2f2; color:#cbcbcb;}

.btn-info{ font-size:13px; padding:0 16px; line-height:30px; background-color:#f2f2f2;border-color:#ebebeb; color:#6a6a6a;}
.btn-info.active,.btn-info.focus,.btn-default:active,.btn-info:focus,.btn-info:hover,.open>.dropdown-toggle.btn-info{background-color:#e0e0e1;border-color:#e0e0e1; color:#5d5d5d;}


.btn-danger.active,.btn-danger.focus,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.open>.dropdown-toggle.btn-danger{ background:#bb5853; border:none;}


/* TABS */
.nav-tabs > li > a{ border-color:#ddd #ddd transparent; border-width:1px; border-style:solid; color:#0971b7;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{ background:#f2f2f2; color:#6a6a6a; }
.nav-tabs > li.active > a:hover{ text-decoration:none;}
.nav-tabs > li a:focus, .nav-tabs > li a:hover{text-decoration:underline;}
.tab-content{ border-top:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd;}

/* FORMS */
.form-control{border:2px solid #dddddd; box-shadow:none; font-size:13px;}
.form-control input[type="text"] { height:30px;}

.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label, .has-success .form-control-feedback{ color:#5cb85c;}
.has-success .form-control{border-color:#5cb85c;}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label, .has-error .form-control-feedback{ color:#d9534f;}
.has-error .form-control{border-color:#d9534f;}

.has-warning .checkbox, .has-warning .checkbox-inline, .has-warning .control-label, .has-warning .help-block, .has-warning .radio, .has-warning .radio-inline, .has-warning.checkbox label, .has-warning.checkbox-inline label, .has-warning.radio label, .has-warning.radio-inline label, .has-warning .form-control-feedback{ color:#e4d045;}
.has-warning .form-control{border-color:#e4d045;}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background-color:#f1f1f1; box-shadow:none;}