body{ background:#f1f1f1;}

@font-face {
  font-family: 'MyWebFont';
  src: url('fonts/Gotham-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Gotham-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Gotham-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'MyWebFont';
  src: url('fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Gotham-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Gotham-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}