body{ font-family:Arial,sans-serif!important; font-size:13px; color:#6f7b8a; }
a{ color:#304269;}
a:hover{ text-decoration:underline; color:#4A6491;}
h1, h2, h3, h4, h5  {font-family:Gotham-Bold, Helvetica, sans-serif; margin:10px 0;}
h5, h6{ font-family:Gotham-Medium, Helvetica, sans-serif; }
h1, h2{color:#0971b7;}
h1{font-size:28px; }
h2{font-size:20px; }
h3{ font-size:12px; text-transform:uppercase;}
h4{ font-size:14px; }
h3, h4, h5{color:#55606e;}

.mbottom-10 {margin-bottom: 10px}
.mtop-10 {margin-top: 10px}

/* BOTONES */
::-webkit-input-placeholder {color: color:#282323;}
:-moz-placeholder { /* Firefox 18- */  color:#282323;}
::-moz-placeholder {  /* Firefox 19+ */   color:#282323;}
:-ms-input-placeholder {  color:#282323;}
.btn-default{background:#d1dade; font-size:13px; padding:0 24px; line-height:38px; border:none; color:#5a6367;}
.btn-default.active,.btn-default.focus,.btn-default:active,.btn-default:focus,.btn-default:hover,.open>.dropdown-toggle.btn-default{background-color:#b9c3c8; border-color:none; color:#5e5e5e;}
.btn-sm.btn-default{ padding:0 16px; line-height:30px; }

.btn-primary{ background:#0971b7; font-size:13px; padding:0 24px; line-height:38px; border:none;}
.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary{background-color:#0766a6;border-color:none;}
.btn-sm{ padding:0 16px; line-height:30px; border:none; }

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default.active[disabled], .btn-default.focus[disabled], .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover{ background:#f5f5f5; border-color:#f2f2f2; color:#cbcbcb;}

.btn-info{ font-size:13px; padding:0 16px; line-height:30px; background-color:#f2f2f2;border-color:#ebebeb; color:#6a6a6a;}
.btn-info.active,.btn-info.focus,.btn-default:active,.btn-info:focus,.btn-info:hover,.open>.dropdown-toggle.btn-info{background-color:#e0e0e1;border-color:#e0e0e1; color:#5d5d5d;}


.btn-danger.active,.btn-danger.focus,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.open>.dropdown-toggle.btn-danger{ background:#bb5853; border:none;}


/* TABS */
.nav-tabs > li > a{ border-color:#ddd #ddd transparent; border-width:1px; border-style:solid; color:#0971b7;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{  border-color: transparent; background:#d1dade; color:#5a6367; }
.nav-tabs > li.active > a:hover{ text-decoration:none;}
.nav-tabs > li a:focus, .nav-tabs > li a:hover{text-decoration:underline;}
.tab-content{ border-bottom:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd;}

/* FORMS */
.form-control{ border:2px solid #e5e9ec; box-shadow:none; font-size:13px; color:#282323;}
.form-control input[type="text"] { height:30px;}
input:hover, textarea:hover{ -webkit-box-shadow: 0 0 0 3px #f5f5f5; -moz-box-shadow: 0 0 0 3px #f5f5f5; -o-box-shadow: 0 0 0 3px #f5f5f5; -khtml-box-shadow: 0 0 0 3px #f5f5f5; box-shadow: 0 0 0 3px #f5f5f5;}
.uneditable-input, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{ color:#6f7b8a;}

.form-control::-webkit-input-placeholder { color:#6f7b8a;}
.form-control:-moz-placeholder { /* Firefox 18- */  color:#6f7b8a;}
.form-control::-moz-placeholder {  /* Firefox 19+ */   color:#6f7b8a;}
.form-control:-ms-input-placeholder {  color:#6f7b8a;}

.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label, .has-success .form-control-feedback{ color:#5cb85c;}
.has-success .form-control{border-color:#5cb85c;}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label, .has-error .form-control-feedback{ color:#d9534f;}
.has-error .form-control{border-color:#d9534f;}

.has-warning .checkbox, .has-warning .checkbox-inline, .has-warning .control-label, .has-warning .help-block, .has-warning .radio, .has-warning .radio-inline, .has-warning.checkbox label, .has-warning.checkbox-inline label, .has-warning.radio label, .has-warning.radio-inline label, .has-warning .form-control-feedback{ color:#e4d045;}
.has-warning .form-control{border-color:#e4d045;}
.form-group label{ color:#55606e; form-weight:normal; margin:24px 10px 8px 0; font-weight:normal; font-size:14px; display:block;}
.form-label{ margin-top:2px;}
.form-group .help{ color:#a7abb1; font-size:12px;}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background-color:#f1f1f1; box-shadow:none;}
.has-feedback label ~ .form-control-feedback{ top:41px;}


.edit-form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
}



/* -- selects -- */
.select {
	border:2px solid #e5e9ec;
    background-color: #fff;
	border-radius: 4px;
	position: relative;
	display: inline-block;
}

.select:hover {
	box-shadow: 0 0 0 3px #f5f5f5;
}

.select:after {
	color: #e5e9ec;
	content: '\e252';
	font-family: "Glyphicons Halflings";
	font-size: 10px;
	height: 41px; /* height equal select */
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 40px;
	line-height: 36px; /* line height equal height select */
  z-index: 1;
}

.select > select {
	-moz-appearance: window;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	display: block;
	background-color: transparent;
	border-radius: 4px;
	border: 2px solid #e5e9ec;
	outline: none;
	outline: 0;
	width: 100%;
	padding: 7px 40px 7px 12px;
  position: relative;
  z-index: 2;
  	cursor:pointer;
	font-size:13px;
}

.select > select::-ms-expand {
	display: none;
}

.ie8 .styled_select select,
.ie9 .styled_select select {padding-right: 12px;}
.ie8 .styled_select:after,
.ie9 .styled_select:after,
.ie8 .styled_select:before,
.ie9 .styled_select:before {display: none;}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{ padding:12px;}
.table thead tr th{ text-transform:uppercase;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{ border-color:#e2e8eb;}
.table-hover tbody tr:hover>td,.table-hover tbody tr:hover>th{background-color:#e2e8eb;}
.table-hover tbody tr:hover>td .progress{background-color:#ffffff;}

#avatar-image{ margin:24px 0 10px;}
ul.list-unstyled { margin:10px 0;}
ul.list-unstyled li{ font-size:13px; color:#55606e; margin:4px 0;}
