    <li>
      <%= link_to t('layouts.mailing_menu.templates'),
                  "#{APP_CONFIG['mailing-url']}/templates",
                  target: '_blank'
      %>
    </li>
    <li>
      <%= link_to t('layouts.mailing_menu.triggers'),
                  "#{APP_CONFIG['mailing-url']}/triggers",
                  target: '_blank'
      %>
    </li>
    <li>
      <%= link_to t('layouts.mailing_menu.scheduled_mails'),
                  "#{APP_CONFIG['mailing-url']}/scheduled_mails",
                  target: '_blank'
      %>
    </li>